<p id="notice"><%= notice %></p>

<p>
  <strong>Info:</strong>
  <%= @hero.info %>
</p>

<p>
  <strong>Name:</strong>
  <%= @hero.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @hero.age %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @hero.salary %>
</p>

<%= link_to 'Edit', edit_hero_path(@hero) %> |
<%= link_to 'Back', heros_path %>
