<p id="notice"><%= notice %></p>

<p>
  <strong>Info:</strong>
  <%= @funcionara.info %>
</p>

<p>
  <strong>Name:</strong>
  <%= @funcionara.name %>
</p>

<%= link_to 'Edit', edit_funcionara_path(@funcionara) %> |
<%= link_to 'Back', funcionaras_path %>
