<%= form_with(model: pruebitum, local: true) do |form| %>
  <% if pruebitum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pruebitum.errors.count, "error") %> prohibited this pruebitum from being saved:</h2>

      <ul>
      <% pruebitum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :info %>
    <%= form.text_field :info %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :salary %>
    <%= form.number_field :salary %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
