<p id="notice"><%= notice %></p>

<p>
  <strong>Info:</strong>
  <%= @pruebitum.info %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pruebitum.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pruebitum.age %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @pruebitum.salary %>
</p>

<%= link_to 'Edit', edit_pruebitum_path(@pruebitum) %> |
<%= link_to 'Back', pruebita_path %>
